.first{
    background-color:deepskyblue;
    border: 2px solid black;
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
    height: 250px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;  
    margin-left: 10px;
    text-align: center;
    
}

.second{
    background-color: springgreen;
    border: 2px solid black;
    display: inline-flex;
    flex-wrap: wrap;
    width: 300px;
    height: 250px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;  
    margin-left: 10px;
    text-align: center;
    
}

h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333333;
    margin-bottom: 10px;
    text-align: center;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
    margin-bottom: 20px;
    text-align: center;
  }